.card {
  max-height: 15vh;
  max-width: 20vw;
  aspect-ratio: 7/4;
  border: 0.1em rgba(165, 165, 160, 0.44) solid;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 1px rgba(63, 61, 61, 0.79);
}