:root {
  --teal: #59c1fe;
  --white: #ffffff;
  --oldBtnColor: #524FD7;
  --lightBtnColor: #C29A1D;
  --darkBtnColor: #001EC2;
  --pink: #B513C2; /*rgb(181,19,194) */
  --yellow: #C29A1D; /* rgb(194,154,29) */
  --purple: #5009C1; /* rgb(80,9,193) */
  --green: #66C21D; /* rgb(102,194,29) */
  --blue: #001EC2;  /* rgb(0,30,194) */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bubble-font {
  font-family: 'Bubblegum Sans';
}

.round-font {
  font-family: "Gluten", sans-serif;
}

.block-font {
  font-family: "Exo 2", sans-serif;
}

.lines {
  /* stroke-width: 1; */
  /* stroke: linear-gradient(rgba(var(--teal), 0.2) 20%, var(--teal) 40%, var(--teal) 60%, rgba(var(--teal), 0.2) 80%); */
  stroke: var(--teal);
}

/* reset default browser style for buttons */
button {
  font-family: inherit;
  border: none;
  background-color: transparent;
  padding: 0;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

h1 {
  padding: 0;
  margin: 0;
  font-size: clamp(18px 4vh 32px);
}

h2 {
  font-size: clamp(16px 4vh 32px);
}
