
svg {
  width: 80%;
  height: 100%;
}

rect {
  width: 1000;
  height: 1000;
}

path.striped {
  /* fill: url(#mask-stripe); */
  /* fill: url(#pattern-stripe); */
  /* mask: url(#pattern-stripe); */
  mask: url(#mask-stripe);
  fill-opacity: 1;
}

.hatched {
  fill: purple;
  stroke: purple;
}

.stripe {
  fill: green;
  stroke: green;
}

.dashed {
  fill: red;
  stroke: red;
}

.purple {
  fill: purple;
  stroke: purple;
  fill-opacity: 1;
}

.green {
  fill: green;
  stroke: green;
  fill-opacity: 1;
}

.red {
  fill: red;
  stroke: red;
  fill-opacity: 1;
}

.open {
  fill: 'none';
}


.svg {
  stroke-width: 250;
}
/*
.full {

} */



